/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$primary: #2c2c2c;

/*-- scss:rules --*/

kbd, .kbd{
  background-color: #222222 !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
